* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* Designing header part */
header {
  padding: 15px 10px 10px 10px;
  position: fixed;
  top: 0px;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.menu {
  display: none;
  padding: 4px 16px;
  margin-right: 3vw;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  font-size: 13px;
  background-color: #eeeff0;
}
.menu:hover {
  cursor: pointer;
}

.logo {
  padding: 5px 0px 0px 32px;
}
.logo img {
  height: 14px;
  width: 127px;
}

.menuItems {
  display: flex;
  /* margin: 0px 28vw 0px 19vw; */
  text-align: center;
}
.menuItems .a {
  padding: 6px 16px 2px 16px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-radius: 3px;
}
.menuItems .a:hover {
  background-color: rgb(239, 239, 230);
  cursor: pointer;
}

.config {
  display: flex;
  margin-right: 30px;
}
.config img {
  box-sizing: content-box;
  height: 20px;
  width: 20px;
  margin-right: 7px;
  padding: 4px 5px;
  border-radius: 3px;
}
.config img:hover {
  background-color: #d0d1d2;
  cursor: pointer;
}
/* header - responsivness */
@media (max-width: 1000px) {
  .config,
  .menuItems {
    display: none;
  }
  .menu {
    display: block;
  }
  header {
    justify-content: space-between;
  }
}
/* ------------------ */
/* hero designing */
.hero {
  margin-top: 57px;
  position: relative;
}
.slide1 {
  opacity: 1;
  background-image: url("./Assests-tesla/img1-1.avif");
  background-repeat: none;
  background-position: center center;
  background-size: cover;

  height: 75vh;
  width: 100vw;
}
/* designing left and right btn */
.keys img {
  height: 40px;
  width: 40px;
}
.keys {
  border: none;
  border-radius: 3px;
  background-color: rgb(255, 255, 255, 0.9);
  box-shadow: 0px 4px 4px rgb(136, 136, 136);
}
.leftbtn {
  top: 50%;
  position: absolute;
  left: 3vw;
}
.rightbtn {
  position: absolute;
  top: 50%;
  right: 3vw;
}
.keys:hover {
  cursor: pointer;
}

.content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.content h1 {
  font-size: 58px;
  font-weight: 550;
  color: white;
}
.content h4 {
  font-size: 19px;
  color: white;

  font-weight: 500;
  padding-bottom: 30px;
}
.content button {
  padding: 12px 44px;
  margin-left: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}
.blue {
  background-color: #3e6ae1;
}

/* ----------------------------
        Designing section 1 
----------------------------------*/
.sec1 {
  display: flex;
  padding: 48px 52px 0px 52px;
}
.d {
  display: flex;
  margin: 7px;
  overflow: hidden;

  background-color: rgb(240, 240, 240);
  border-radius: 6px;
}
.sec1 > .d {
  margin-right: 24px;
}
.d img {
  width: 16vw;
  border-radius: 3px;
  margin: 4px;
  object-fit: cover;
  object-position: center center;
}
.d h2 {
  font-size: 35px;
  font-weight: 600;
}
.d h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 4px 0px 12px 0px;
  color: #5c5e62;
}
.content2 {
  margin: 38px 38px 16px 38px;
}
.content2 button {
  padding: 12px 24px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: white;
  width: 80%;
}
.content2 button:hover {
  cursor: pointer;
}
/* responsivness - sec1 */
@media (max-width: 1000px) {
  .d img {
    display: none;
  }
  .d h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .d h6 {
    font-size: 15px;
    font-weight: 500;
    margin: 4px 0px 18px 0px;
    color: #5c5e62;
  }
}
@media (max-width: 800px) {
  .sec1 {
    flex-wrap: wrap;
  }
  .d {
    width: 100vw;
  }
}
.sec4 {
  padding: 32px 38px;
  display: flex;
  height: 80vh;
  /* justify-content: space-around; */
}
video {
  border-radius: 12px;
  width: 60vw;
  height: 100%;
  object-fit: cover;
  margin: 0px 28px 0px 20px;
}
.non-playable img {
  object-fit: cover;
  border-radius: 12px;
  width: 27vw;
  height: 100%;
}
.post-footer {
  position: fixed;
  bottom: 0px;
}

.maparea img {
  width: 90vw;
}
.map {
  margin: 36px 20px 0px 36px;
}
.map .linked {
  display: flex;
  flex-wrap: wrap;
}
.linked p {
  color: rgb(136, 136, 136);
}
.linked2 img {
  height: 20px;
  width: 20px;
}
