/* *{
    
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
} */
/* body {
  background-color: rgb(197, 76, 76);
}
/* .config {
  color: white;
}  */
